<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<!-- <body>
    <h1>Home</h1>
    <p>Hello  <%#=name%>
    </p>
    <p>Hello <%#=locals.name%>
    </p> -->

<!--<p>Hello <%# random%>  will give error of random is not defined-->
<!--<p>Hello <%# locals.random%>  will not give an error instead shows nothing-->
<!-- </body> -->

<body>
</body>

</html>